<!DOCTYPE html>
<html>
  <head>
    <title>Scribbblez - Discover the World’s Top Designers & Creative Professionals
  </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Scribbblez"/>
    <meta property='og:image' content='https://app-ecommerce-seeds.s3-us-west-1.amazonaws.com/landing.png' />
    <meta property="og:description" content="Discover the World’s Top Designers & Creative Professionals"/>
    <meta property="og:url" content="https://scribbblez.herokuapp.com/#/" />

    <link href="https://cdn.dribbble.com/assets/favicon-63b2904a073c89b52b19aa08cebc16a154bcf83fee8ecc6439968b1e6db569c7.ico" rel="icon">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
    window.img2="<%= image_url('logo.png')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
