<!DOCTYPE html>
<html>
  <head>
    <title>Scribbble</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
    window.img2="<%= image_url('img2.png')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
